# .NET Build Folders
/bin/
/obj/

# User-specific files
*.user
*.userosscache
*.suo
*.userprefs

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# JetBrains Rider
.idea/

# VS Code
.vscode/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt
